{% extends 'base.html' %}

{% block head %}

<title>
    Groceries
</title>

{% endblock %}

{% block body %}


<input type="checkbox" id="Cucumber" name="Cucumber">
<label for="Cucumber"> Cucumber</label><br>
<input type="checkbox" id="Bell Pepper" name="Bell Pepper" value="Cucumber">
<label for="Bell Pepper"> Bell Pepper</label><br>
<input type="checkbox" id="Bananas" name="Bananas">
<label for="Bananas"> Bananas</label><br>
<input type="checkbox" id="Apples" name="Apples">
<label for="Apples"> Apples</label><br>
<input type="checkbox" id="Red Onions" name="Red Onions">
<label for="Red Onions"> Red Onions</label><br>
<input type="checkbox" id="White Onions" name="White Onions">
<label for="White Onions"> White Onions</label><br>
<input type="checkbox" id="Tofu" name="Tofu">
<label for="Tofu"> Tofu</label><br>
<input type="checkbox" id="Coke" name="Coke">
<label for="Coke"> Coke/Pepsi</label><br>
<input type="checkbox" id="fries" name="fries">
<label for="fries"> French Fries</label><br>
<input type="checkbox" id="rings" name="rings">
<label for="rings"> Onion Rings</label><br>


{% endblock %}
