{% extends 'base.html' %}

{% block head %}

<title>
    Welcome
</title>

{% endblock %}


{% block body %}
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-white u-section-1" id="sec-785b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-palette-3-base u-preserve-proportions u-shape u-shape-circle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"></div>
        <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="810" data-image-height="810" data-animation-name="customAnimationIn" data-animation-duration="1500"></div>
        <img class="u-image u-image-circle u-image-2" src="{{ url_for('static', filename='images/photo1.jpg')}}" alt="" data-image-width="889" data-image-height="889" data-animation-name="customAnimationIn" data-animation-duration="1500">
        <img class="u-border-20 u-border-palette-3-base u-image u-image-circle u-image-3" src="{{ url_for('static', filename='images/photo2.jpg')}}" alt="" data-image-width="960" data-image-height="907" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <img class="u-image u-image-circle u-image-4" src="{{ url_for('static', filename='images/photo3.jpg')}}" alt="" data-image-width="889" data-image-height="889" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
        <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-palette-1-base u-text-1"> Pictures from our wedding<br>
            </h2>
            <p class="u-text u-text-2"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="/restaurants/" class="u-active-palette-3-base u-align-center u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-none u-radius-10 u-text-active-white u-text-hover-white u-text-palette-3-dark-1 u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">learn more</a>
          </div>
        </div>
      </div>
    </section>


{% endblock %}