{% extends 'base.html' %}

{% block head %}

<title>
    Restaurants
</title>

{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants.css')}}">
<table>
    <tr>
        <th>Restaurant</th>
        <th>Food Type</th>
    </tr>
    <tr>
        <td>Pieology</td>
        <td>Pizza</td>

    </tr>
    <tr>
        <td>Dominoes</td>
        <td>Pizza</td>

    </tr>
    <tr>
        <td>Curry Pizza</td>
        <td>Pizza</td>

    </tr>
    <tr>
        <td>Chicago Pizza</td>
        <td>Pizza</td>

    </tr>
    <tr>
        <td>Blaze Pizza</td>
        <td>Pizza</td>

    </tr>
    <tr>
        <td>Panda Express</td>
        <td>Chinese</td>

    </tr>

    <tr>
        <td>Red Robin</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>KFC</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>Popeye's Lousiana</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>Habit</td>
        <td>Burgers</td>

    </tr>
     <tr>
        <td>In n Out</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>Brooks Burgers</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>Flipping Dave's</td>
        <td>Burgers</td>

    </tr>
    <tr>
        <td>Panera Bread</td>
        <td>Sandwich</td>

    </tr>
    <tr>
        <td>Sourdough</td>
        <td>Sandwich</td>

    </tr>
    <tr>
        <td>Subway</td>
        <td>Sandwich</td>

    </tr>
    <tr>
        <td>Deli Delicious</td>
        <td>Sandwich</td>

    </tr>
    <tr>
        <td>Angry Chicz</td>
        <td>Sandwich</td>

    </tr>
    <tr>
        <td>AppleBees</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>Chilli's</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>Mad Duck</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>TGIF</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>Yard House</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>Buffalo Wild Wings</td>
        <td>Everything</td>

    </tr>
    <tr>
        <td>Wing Stop</td>
        <td>Wings</td>

    </tr>
    <tr>
        <td>Brahma Bull</td>
        <td>Indian</td>

    </tr>
    <tr>
        <td>Tandoori Nights</td>
        <td>Indian</td>

    </tr>
    <tr>
        <td>Chole Bhature-Shane Punjab</td>
        <td>Indian</td>

    </tr>
    <tr>
        <td>Food Truck</td>
        <td>Mexican</td>

    </tr>
    <tr>
        <td>Rubio's</td>
        <td>Mexican</td>

    </tr>
    <tr>
        <td>Chipotle</td>
        <td>Mexican</td>

    </tr>
    <tr>
        <td>Wahoo's Tacos</td>
        <td>Mexican</td>

    </tr>
    <tr>
        <td>Gus Kabab</td>
        <td>Mediterranean</td>

    </tr>
</table>

{% endblock %}
